.winner {
    color: green;
}

.loser {
    color: #DA0101;
}

.neutral {
     color: #2399FC;
}

.date {
    margin-top: 5px;
    font-size: 10px;
    color: grey;
}

.crown {
    font-size: 24px;
}

.stars {
    font-size: 10px;
}

.right-align-text {
  text-align: right;
}

.font-size-18{
  font-size: 18px;
}
