<div *ngIf="gamesResponse$ | async as gamesResponse">
  <div *ngFor="let game of gamesResponse.items">
    <a href="/games/{{ game.id }}" *ngIf="game.creator == userLoggedInId || userRole == 'admin'">
      <app-game [game]="game"></app-game>
    </a>
    <app-game *ngIf="game.creator != userLoggedInId && userRole != 'admin'" [game]="game"></app-game>
  </div>
  <footer *ngIf="userLoggedInId && (userRole == 'writer' || userRole == 'admin')" class="button-container">
    <a href="create">
      <button nz-button nzType="primary" nzShape="circle" class="button" nzSize="large">
        <span nz-icon nzType="plus"></span>
      </button>
    </a>
  </footer>
</div>

