.p {
  margin-top: 10px;
  margin-left: 5px;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

.button {
  background-color:#97E078;
  color: #fff;
  border: none;
  width: 55px;
  height: 55px;
  font-size: 36px;
  margin-left: 4px;
  margin-right: 4px;
}

.cancel-button {
  background-color:#DFDFDF;
  color: #7B7878;
  border: none;
  width: 55px;
  height: 55px;
  font-size: 36px;
  margin-left: 4px;
  margin-right: 4px;
}

.delete-button {
  background-color:#FA4C41;
  color: #fff;
  border: none;
  width: 55px;
  height: 55px;
  font-size: 36px;
  margin-left: 4px;
  margin-right: 4px;
}

.new-game-button {
  border: none;
  width: 55px;
  height: 55px;
  margin-left: 4px;
}

.ant-form-item {
  margin-bottom: 0px;
}

.width-80 {
  width: 80%;
}
