.p {
  margin-top: 10px;
  margin-left: 5px;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

.button {
  background-color:#97E078;
  color: #fff;
  border: none;
  width: 55px;
  height: 55px;
  font-size: 36px;
}

.cancel-button {
  background-color:#DFDFDF;
  color: #7B7878;
  border: none;
  width: 55px;
  height: 55px;
  font-size: 36px;
}

.ant-form-item {
  margin-bottom: 0px;
}
