<div *ngIf="userLoggedIn && (userRole == 'writer' || userRole == 'admin')">
  <div nz-row style="font-size: 20px;">
    <div nz-col nzSpan="11" style="text-align: center"><b>Equipe A</b></div>
    <div nz-col nzSpan="11" nzOffset="2" style="text-align: center"><b>Equipe B</b></div>
  </div>
  <p class="p">Composition 👦🏻👩🏼</p>
  <form nz-form [formGroup]="gameForm" (ngSubmit)="onSubmitForm()">
  <div nz-row>
    <div nz-col nzSpan="11" style="text-align: center">
      <nz-form-item><nz-form-control>
        <nz-select id="player_a1"  nzShowSearch nzAllowClear nzPlaceHolder="Joueur" style="width: 80%;" formControlName="player_a1_id">
          <nz-option *ngFor="let user of users" nzLabel={{user.display_name}} nzValue={{user.id}}></nz-option>
        </nz-select>
      </nz-form-control></nz-form-item>
      <nz-form-item><nz-form-control>
        <nz-select id="player_a2"  nzShowSearch nzAllowClear nzPlaceHolder="Joueur" style="width: 80%; margin-top: 10px;" formControlName="player_a2_id">
          <nz-option *ngFor="let user of users" nzLabel={{user.display_name}} nzValue={{user.id}}></nz-option>
        </nz-select>
      </nz-form-control></nz-form-item>
    </div>
    <div nz-col nzSpan="11" nzOffset="2" style="text-align: center">
      <nz-form-item><nz-form-control>
        <nz-select id="player_b1"  nzShowSearch nzAllowClear nzPlaceHolder="Joueur" style="width: 80%;" formControlName="player_b1_id">
          <nz-option *ngFor="let user of users" nzLabel={{user.display_name}} nzValue={{user.id}}></nz-option>
        </nz-select>
      </nz-form-control></nz-form-item>
      <nz-form-item><nz-form-control>
        <nz-select id="player_b2"  nzShowSearch nzAllowClear nzPlaceHolder="Joueur" style="width: 80%; margin-top: 10px;" formControlName="player_b2_id">
          <nz-option *ngFor="let user of users" nzLabel={{user.display_name}} nzValue={{user.id}}></nz-option>
        </nz-select>
      </nz-form-control></nz-form-item>
    </div>
  </div>
  <p class="p">Scores 💯</p>
  <div nz-row>
    <div nz-col nzSpan="11" style="text-align: center">
      <nz-form-item><nz-form-control>
        <nz-input-number [nzMin]="0" [nzMax]="3000" [nzStep]="10" nzPlaceHolder="Score" style="width: 80%;" formControlName="score_a"></nz-input-number>
        <nz-rate [nzCount]="4" style="margin-top: 10px; font-size: 20px;" formControlName="stars_a"></nz-rate>
      </nz-form-control></nz-form-item>
    </div>
    <div nz-col nzSpan="11" nzOffset="2" style="text-align: center">
      <nz-form-item><nz-form-control>
        <nz-input-number [nzMin]="0" [nzMax]="3000" [nzStep]="10" nzPlaceHolder="Score" style="width: 80%;" formControlName="score_b"></nz-input-number>
        <nz-rate [nzCount]="4" style="margin-top: 10px; font-size: 20px;" formControlName="stars_b"></nz-rate>
    </nz-form-control></nz-form-item>
    </div>
  </div>
  <p class="p">Vainqueur 🏅</p>
  <div style="text-align: center">
    <nz-form-item><nz-form-control>
      <nz-radio-group nzButtonStyle="solid" formControlName="winner">
        <label nz-radio-button nzValue="A">Equipe A</label>
        <label nz-radio-button nzValue="B">Equipe B</label>
      </nz-radio-group>
    </nz-form-control></nz-form-item>
  </div>
  <div nz-row style="margin-top: 10px;">
    <div nz-col nzSpan="6"><p class="p">Date 📅</p></div>

    <div nz-col nzSpan="12" style="text-align: center;">
      <nz-form-item><nz-form-control>
      <nz-date-picker formControlName="date" nzSize="small" style="margin-top: 10px;" nzFormat="dd/MM/yyyy"></nz-date-picker>
      </nz-form-control></nz-form-item>
    </div>
  </div>
  <div class="button-container">
    <a href="">
      <button nz-button nzType="primary" nzShape="circle" class="cancel-button" nzSize="large" type="button">
        <span nz-icon nzType="close"></span>
      </button>
    </a>
    &nbsp;
    <button nz-button nzType="primary" nzShape="circle" class="button" nzSize="large">
      <span nz-icon nzType="check"></span>
    </button>
  </div>
  </form>
</div>
