<div *ngIf="userLoggedIn && (userRole == 'writer' || userRole == 'admin')">
  <div nz-row class="font-size-20">
    <div nz-col nzSpan="11" class="center-text"><b>Equipe A</b></div>
    <div nz-col nzSpan="11" nzOffset="2" class="center-text"><b>Equipe B</b></div>
  </div>
  <p class="p">Composition 👦🏻👩🏼</p>
  <form nz-form [formGroup]="gameForm" (ngSubmit)="onSubmitForm()">
  <div nz-row>
    <div nz-col nzSpan="11" class="center-text">
      <nz-form-item><nz-form-control>
        <nz-select id="player_a1" nzShowSearch nzAllowClear nzPlaceHolder="Joueur" class="width-80" formControlName="player_a1_id">
          <nz-option *ngFor="let user of users" nzLabel={{user.display_name}} nzValue={{user.id}}></nz-option>
        </nz-select>
      </nz-form-control></nz-form-item>
      <nz-form-item><nz-form-control>
        <nz-select id="player_a2" nzShowSearch nzAllowClear nzPlaceHolder="Joueur" class="margin-top-10 width-80" formControlName="player_a2_id">
          <nz-option *ngFor="let user of users" nzLabel={{user.display_name}} nzValue={{user.id}}></nz-option>
        </nz-select>
      </nz-form-control></nz-form-item>
    </div>
    <div nz-col nzSpan="11" nzOffset="2" class="center-text">
      <nz-form-item><nz-form-control>
        <nz-select id="player_b1" nzShowSearch nzAllowClear nzPlaceHolder="Joueur" class="width-80" formControlName="player_b1_id">
          <nz-option *ngFor="let user of users" nzLabel={{user.display_name}} nzValue={{user.id}}></nz-option>
        </nz-select>
      </nz-form-control></nz-form-item>
      <nz-form-item><nz-form-control>
        <nz-select id="player_b2" nzShowSearch nzAllowClear nzPlaceHolder="Joueur" class="margin-top-10 width-80" formControlName="player_b2_id">
          <nz-option *ngFor="let user of users" nzLabel={{user.display_name}} nzValue={{user.id}}></nz-option>
        </nz-select>
      </nz-form-control></nz-form-item>
    </div>
  </div>
  <p class="p">Scores 💯</p>
  <div nz-row>
    <div nz-col nzSpan="11" class="center-text">
      <nz-form-item><nz-form-control>
        <nz-input-number [nzMin]="0" [nzMax]="3000" [nzStep]="10" nzPlaceHolder="Score" class="width-80" formControlName="score_a"></nz-input-number>
        <nz-rate [nzCount]="4" class="font-size-20 margin-top-10" formControlName="stars_a"></nz-rate>
      </nz-form-control></nz-form-item>
    </div>
    <div nz-col nzSpan="11" nzOffset="2" class="center-text">
      <nz-form-item><nz-form-control>
        <nz-input-number [nzMin]="0" [nzMax]="3000" [nzStep]="10" nzPlaceHolder="Score" class="width-80" formControlName="score_b"></nz-input-number>
        <nz-rate [nzCount]="4" class="font-size-20 margin-top-10" formControlName="stars_b"></nz-rate>
    </nz-form-control></nz-form-item>
    </div>
  </div>
  <p class="p">Vainqueur 🏅</p>
  <div class="center-text">
    <nz-form-item><nz-form-control>
      <nz-radio-group nzButtonStyle="solid" formControlName="winner">
        <label nz-radio-button nzValue="A">Equipe A</label>
        <label nz-radio-button nzValue="B">Equipe B</label>
      </nz-radio-group>
    </nz-form-control></nz-form-item>
  </div>
  <div nz-row class="margin-top-10">
    <div nz-col nzSpan="6"><p class="p">Date 📅</p></div>

    <div nz-col nzSpan="12" class="center-text">
      <nz-form-item><nz-form-control>
      <nz-date-picker formControlName="date" nzSize="small" class="margin-top-10" nzFormat="dd/MM/yyyy"></nz-date-picker>
      </nz-form-control></nz-form-item>
    </div>
  </div>
  <div class="button-container">
    <a href="{{ redirectUri }}">
      <button nz-button nzType="primary" nzShape="circle" class="cancel-button" nzSize="large" type="button">
        <span nz-icon nzType="close"></span>
      </button>
    </a>
    <button *ngIf="gameId" nz-button nzType="primary" nzShape="circle" class="delete-button" nzSize="large" type="button" (click)="deleteGame()">
      <span nz-icon nzType="delete"></span>
    </button>
    <button nz-button nzType="primary" nzShape="circle" class="button" nzSize="large">
      <span nz-icon nzType="check"></span>
    </button>
  </div>
  </form>
</div>
