<div *ngIf="profile$ | async as profile">
  <div nz-row class="margin-top-10 font-size-16">
    <div nz-col nzSpan="20" nzOffset="2" class="center-text">
      <div *ngIf="canUpdate(profile)" class="margin-left-4 font-size-20"><p nz-typography nzEditable [(nzContent)]="profile.display_name" (nzContentChange)="onContentChanged(profile.id, $event)"></p></div>
      <div *ngIf="!canUpdate(profile)" class="margin-left-4 font-size-20">{{ profile.display_name }}</div>
      <div class="margin-left-4"><span class="green">{{ profile.wins }}</span> / <span class="red">{{  profile.games - profile.wins }}</span></div>
      <div *ngIf="profile.games > 0" class="margin-left-4">{{ (profile.stars / profile.games).toFixed(2) }} ⭐</div>
    </div>
  </div>
  <div *ngIf="profile.games > 0" nz-row class="margin-top-10 center-text font-size-14">
    <div nz-col nzSpan="18" nzOffset="3">
      <div class="font-size-60">🤜 🤛</div>
      <div>{{ profile.teammate_times }} parties avec {{ profile.best_teammate }}</div>
    </div>
  </div>
  <div *ngIf="profile.games > 0" nz-row class="margin-top-7 center-text font-size-14">
    <div nz-col nzSpan="18" nzOffset="3">
      <div class="font-size-60">⚔️</div>
      <div>{{ profile.oppositions }} combats contre {{ profile.best_opponent }}</div>
    </div>
  </div>
  <div *ngIf="profile.games > 0" nz-row class="margin-top-7 center-text font-size-14">
    <div nz-col nzSpan="18" nzOffset="3">
      <div class="font-size-60">🎯</div>
      <div>{{ profile.victories }} victoires contre {{ profile.best_target}}</div>
    </div>
  </div>
  <div *ngIf="profile.games > 0" nz-row class="margin-top-7 center-text font-size-14">
    <div nz-col nzSpan="18" nzOffset="3">
      <div class="font-size-60">🤬</div>
      <div>{{ profile.defeats }} défaites contre {{ profile.executioner }}</div>
    </div>
  </div>
</div>
