<div nz-row class="margin-bottom-5">
  <div nz-col nzSpan="6" class="center-text">
    <a href=""><span nz-icon nzType="home" [nzTheme]="homeActive ? 'twotone' : 'outline'" nzTwotoneColor="#FE4C4C" class="icons"></span></a>
  </div>
  <div nz-col nzSpan="6" class="center-text">
    <a href="score-board"><span nz-icon nzType="trophy" [nzTheme]="scoreActive ? 'twotone' : 'outline'" nzTwotoneColor="#FE4C4C" class="icons"></span></a>
  </div>
  <div nz-col nzSpan="6" class="center-text">
    <a href="games"><span nz-icon nzType="profile" [nzTheme]="gamesActive ? 'twotone' : 'outline'" nzTwotoneColor="#FE4C4C"  class="icons"></span></a>
  </div>
  <div nz-col nzSpan="6" class="center-text">
    <a href="rules"><span nz-icon nzType="control" [nzTheme]="rulesActive ? 'twotone' : 'outline'" nzTwotoneColor="#FE4C4C"  class="icons"></span></a>
  </div>
</div>
