<div nz-row style="margin-bottom: 5px;">
  <div nz-col nzSpan="6" style="text-align: center">
    <a href=""><span nz-icon nzType="home" [nzTheme]="homeActive ? 'twotone' : 'outline'" nzTwotoneColor="#FE4C4C" class="icons"></span></a>
  </div>
  <div nz-col nzSpan="6" style="text-align: center">
    <a href="score-board"><span nz-icon nzType="trophy" [nzTheme]="scoreActive ? 'twotone' : 'outline'" nzTwotoneColor="#FE4C4C" class="icons"></span></a>
  </div>
  <div nz-col nzSpan="6" style="text-align: center">
    <span nz-icon nzType="bars" nzTheme="outline" class="icons"></span>
  </div>
  <div nz-col nzSpan="6" style="text-align: center">
    <span nz-icon nzType="read" nzTheme="outline" class="icons"></span>
  </div>
</div>
