<div nz-row class="margin-bottom-5">
  <div nz-col nzSpan="6" class="center-text">
    <a href=""><span nz-icon nzType="home" [nzTheme]="homeActive ? 'twotone' : 'outline'" nzTwotoneColor="#FE4C4C" class="icons"></span></a>
  </div>
  <div nz-col nzSpan="6" class="center-text">
    <a href="score-board"><span nz-icon nzType="trophy" [nzTheme]="scoreActive ? 'twotone' : 'outline'" nzTwotoneColor="#FE4C4C" class="icons"></span></a>
  </div>
  <div nz-col nzSpan="6" class="center-text">
    <span nz-icon nzType="bars" nzTheme="outline" class="icons"></span>
  </div>
  <div nz-col nzSpan="6" class="center-text">
    <span nz-icon nzType="read" nzTheme="outline" class="icons"></span>
  </div>
</div>
