.button-container {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 60px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.button {
  background-color:#FE4C4C;
  color: #fff;
  border: none;
  width: 55px;
  height: 55px;
  font-size: 28px;
}
