<div *ngIf="userLoggedInId" class="center-text margin-top-10 margin-bottom-10">
  <label nz-checkbox [(ngModel)]="onlyMyGames" (ngModelChange)="onMyGamesChange()">Mes parties</label>
  <label nz-checkbox [(ngModel)]="onlyMyCreatedGames" (ngModelChange)="onMyGamesChange()">Parties que j'ai créé</label>
</div>
<div *ngIf="gamesResponse$ | async as gamesResponse">
  <div *ngFor="let game of gamesResponse.items">
    <a href="/games/{{ game.id }}" *ngIf="game.creator == userLoggedInId || userRole == 'admin'">
      <app-game [game]="game"></app-game>
    </a>
    <app-game *ngIf="game.creator != userLoggedInId && userRole != 'admin'" [game]="game"></app-game>
  </div>
  <nz-pagination [nzPageIndex]="currentPage" [nzPageSize]="gamesResponse.size" [nzTotal]="gamesResponse.total" class="margin-top-10 center-text" (nzPageIndexChange)="onPageChange($event)"></nz-pagination>
</div>
