<h1>Règles de la Coinche</h1>
<p>On va rappeler ici uniquement les règles importantes, on considère que vous savez déjà jouer !</p>

<h2>Conditions pour gagner</h2>
<p>La première équipe à <b>dépasser</b> 1500 points gagne la partie ! Mais attention, si une équipe
obtient 3 étoiles ou plus, elle perd la partie immédiatement.
</p>

<h2>Buck</h2>
<p>Pendant les enchères, un joueur peut bucker le dernier à avoir parlé. Les enchères sont alors terminées. <b>Tous les points
de la mène vont être doublés peu importe si le buck est réussi ou non</b>.</p>

<h2>Décompte des points</h2>
<p>A la fin de la mène :</p>
<ul>
  <li>L'équipe preneuse réussi son contrat, elle double les points de celui-ci. L'équipe adverse marque les points réalisés.
    Si le contrat était de 80, l'équipe preneuse doit en réalité avoir au moins 81 points, pour faire plus de points que l'autre équipe.
  </li>
  <li>L'équipe preneuse fait un capot annoncé, elle marque 500 points</li>
  <li>L'équipe preneuse réalise une générale annoncée, elle marque 800 points</li>
  <li>L'équipe preneuse fait un capot non annoncé, elle double les points de son contrat et gagne un bonus de 100 points. En revanche, elle prend une étoile.
    Dans le cas d'une générale non annoncé, c'est 200 points de bonus et deux étoiles</li>
</ul>


<h2>Valeur des catres</h2>
<div nz-row>
  <div nz-col nzSpan="12">
    <h3 class="center-text">Tout atout</h3>
    <ul>
      <li>Valet : 14 points</li>
      <li>Neuf : 9 points</li>
      <li>As : 6 points</li>
      <li>Dix : 5 points</li>
      <li>Roi : 3 points</li>
      <li>Dame : 1 points</li>
    </ul>
  </div>
  <div nz-col nzSpan="12">
    <h3 class="center-text">Sans atout</h3>
    <ul>
      <li>As : 19 points</li>
      <li>Dix : 10 points</li>
      <li>Roi : 4 points</li>
      <li>Dame : 3 points</li>
      <li>Valet : 2 points</li>
    </ul>
  </div>
</div>
