<div class="main-container">
  <h1>Politique de confidentialité</h1>

  <p>Cette politique de confidentialité décrit comment nous recueillons, utilisons et protégeons vos informations personnelles lorsque vous utilisez notre site web.</p>

  <h2>Collecte d'informations</h2>
  <p>Nous recueillons certaines informations personnelles lorsque vous vous inscrivez sur notre site ou effectuez une commande. Les informations collectées peuvent inclure votre nom, votre adresse e-mail, votre adresse de livraison, etc.</p>

  <h2>Utilisation des informations</h2>
  <p>Les informations que nous collectons sont utilisées pour vous fournir les services demandés, traiter les commandes, personnaliser votre expérience utilisateur, etc.</p>

  <h2>Protection des informations</h2>
  <p>Nous mettons en place des mesures de sécurité appropriées pour protéger vos informations personnelles contre toute utilisation non autorisée, perte ou accès indésirable.</p>

  <h2>Partage des informations</h2>
  <p>Nous ne partageons pas vos informations personnelles avec des tiers, sauf si cela est nécessaire pour fournir les services demandés ou si la loi l'exige.</p>

  <h2>Cookies</h2>
  <p>Notre site utilise des cookies pour améliorer votre expérience utilisateur. Les cookies sont de petits fichiers stockés sur votre appareil qui nous aident à analyser votre utilisation du site.</p>

  <h2>Modification de la politique de confidentialité</h2>
  <p>Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment. Les modifications seront publiées sur cette page.</p>

  <h2 id="delete-data">Suppression des données</h2>
  <p>Nous conservons vos informations personnelles aussi longtemps que nécessaire pour fournir les services demandés et se conformer à nos obligations légales. Si vous souhaitez que vos données soient supprimées de nos systèmes, veuillez nous contacter à l'adresse e-mail indiquée ci-dessous.</p>

  <h2>Contact</h2>
  <p>Si vous avez des questions concernant notre politique de confidentialité, veuillez nous contacter à l'adresse e-mail suivante : privacy@teamboulding.fr.</p>
</div>
